<div class="section home">
    <div class="table pending-leads">
        <div class="table-head">
            <nav class="table-item">Nombre</nav>
            <nav class="table-item">Correo</nav>
            <nav class="table-item">Ciudad</nav>
            <nav class="table-item">Número</nav>
            <nav class="table-item">Razón</nav>
            <nav class="table-item">Fecha de Registro</nav>
            <nav class="table-item">Asignado A:</nav>
        </div>
    </div>
</div>

<script src="/js/home/home.js"></script>