<div class="section home">
    <div class="cards-content-col">
        <div class="table pending-leads">
            <div class="table-head">
                <nav class="table-item tbit-1">Nombre</nav>
                <nav class="table-item tbit-2">Correo</nav>
                <nav class="table-item tbit-3">Ciudad</nav>
                <nav class="table-item tbit-4">Número</nav>
                <nav class="table-item tbit-5">Origen</nav>
                <nav class="table-item tbit-6">Fecha de Registro</nav>
                <nav class="table-item tbit-7">Asignado A:</nav>
            </div>
        </div>
    </div>
</div>

<script src="/js/home/home.js"></script>