<div class="section lead">
    <div class="cards-content">
        <div class="card principal">
            <img class="profile-img" src="\assets\img\profile.png" alt="profile picture" width="100px">
            <h4 class="username"><%= lead.name %></h4>
            <div class="status">
                <nav>Pediente por asignar</nav>
                <nav>Pediente por contactar</nav>
            </div>
        </div>
    </div>
</div>