<div class="section lead">
    <div class="cards-content-col">
        <div class="card lead-data">
            <div class="card-header">
                <h3 class="card-title">Pendientes por Contactar</h3>
            </div>
            <div class="card-body">
                <div class="leyend without-pending">¡Sin prospectos pendientes por contactar!</div>
                <div hidden class="mini-table pending-table">
                    <div class="mini-table-head" id="table">
                        <nav class="mini-table-head-item">Nombre</nav>
                        <nav class="mini-table-head-item">Correo</nav>
                        <nav class="mini-table-head-item">Plataforma</nav>
                        <nav class="mini-table-head-item">Estatus</nav>
                    </div>
                </div>
            </div>
            <div hidden class="card-footer">
                <button class="btn btn-form submit" type="submit">Cargar más</button>
            </div>
        </div>

        <div class="card lead-data">
            <div class="card-header">
                <h3 class="card-title">En Seguimiento</h3>
            </div>
            <div class="card-body">
                <div class="leyend follow-lead">¡Aún no has contactado prospectos!</div>
                <div hidden class="mini-table follow-table">
                    <div class="mini-table-head" id="table">
                        <nav class="mini-table-head-item">Nombre</nav>
                        <nav class="mini-table-head-item">Correo</nav>
                        <nav class="mini-table-head-item">Plataforma</nav>
                        <nav class="mini-table-head-item">Estatus</nav>
                    </div>
                </div>
            </div>
            <div hidden class="card-footer">
                <button class="btn btn-form submit" type="submit">Cargar más</button>
            </div>
        </div>
        
        <div class="card lead-data">
            <div class="card-header">
                <h3 class="card-title">Contactados</h3>
            </div>
            <div class="card-body">
                <div class="leyend contacted-lead">¡Aún no has contactado prospectos!</div>
                <div hidden class="mini-table contacted-table">
                    <div class="mini-table-head" id="table">
                        <nav class="mini-table-head-item">Nombre</nav>
                        <nav class="mini-table-head-item">Correo</nav>
                        <nav class="mini-table-head-item">Plataforma</nav>
                        <nav class="mini-table-head-item">Estatus</nav>
                    </div>
                </div>
            </div>
            <div hidden class="card-footer">
                <button class="btn btn-form submit" type="submit">Cargar más</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/leads/myLeads.js"></script>