:root {
    --bg-color: #f3f3f3;
    --card-color: #ffffff;
    --card-body-color: #f8f8f8;

    --sec-color: #5cc6d2;
    --sec-color-hover: #54b7b7;

    --border-input-color: #767676;

    --border-card-color: #dddddd;

    --sec-text-color: #B7B7B7;

    --selected-color: #bcbcbc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--bg-color);
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 20px;
}

.body {
    display: flex;
}

/** Página de login  */
.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-card {
    background: var(--card-color);
    padding: 20px 60px;
    box-shadow: rgba(0, 0, 0, 0.345) 0px 0px 15px;
}

.input-container, .login-card-title, .btn-login {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.login-card-title {
    text-align: center;
}

/*? Global  */
.input {
    background: none;
    border: 1px solid var(--border-input-color);
    outline: 0 none;
    padding: 10px 20px;
    margin-top: 5px;
    width: 250px;
}

.input:focus {
    outline: 1px solid var(--sec-color);
    border-color:  var(--sec-color);
}

.btn {
    padding: 10px;
    background: var(--sec-color);
    outline: 0 none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: var(--sec-color-hover);
    outline: 1px solid var(--sec-color);
}

.pointer {
    cursor: pointer;
}

.selected {
    color: white;
}

.card {
    background: var(--card-color);
    border: 1px solid var(--border-card-color);
    border-radius: 5px;
    padding: 20px 10px;
}

/** Barra de navegación / menú */
.menu {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    font-size: 14px;
    background: var(--card-color);
    height: 100vh;
    position: fixed;
}

.menu-header {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.menu-nav {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 8px 0 8px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item:hover {
    background: rgb(200, 200, 200);
}

.menu-opt {
    margin-left: 10px;
}

.menu-opt-icon {
    min-width: 25px;
    display: flex;
    justify-content: center;
}

/** HOME:  */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px 0 325px;
}

.section {
    max-width: 1400px;
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--card-color);
    border: 1px solid var(--border-card-color);
}

.table-head, .table-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-head {
    padding: 10px 0;
}

.table-body {
    background: var(--card-body-color);
}

.table-body:hover {
    background: var(--selected-color);
}

.table-item {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* * LEAD */

.principal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: fit-content;
    white-space: initial;
    word-wrap: break-word;
}

.saler {
    width: 300px;
    word-wrap: break-word;
}

.saler-note {
    margin: 10px 0 0 0;
    white-space: initial;
}

.saler-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cards-content-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-img {
    padding: 10px;
    border-radius: 100%;
    background: rgb(199, 199, 199);
}

.username {
    padding: 10px 0 0 0;
}

.status {
    padding: 10px 0 0 0;
}

.status-title {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.lead-data {
    width: 1080px;
    white-space: initial;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-form {
    width: 100%;
}

.btn-form {
    font-weight: 500;
}

.card-title {
    color: var(--sec-color);
}

.card-header {
    padding: 0 10px 20px 10px;
}

.card-body {
    padding: 20px 10px;
    border-bottom: solid;
    border-top: solid;
    border-color: var(--border-card-color);
    border-width: 1.5px;
}

.card-footer {
    padding: 20px 10px 0 10px;
}

.contacted {
    background: #5cd2a1;
}

.follow {
    background: #e0c426;
}

.follow:hover {
    background: #ac982b;
    outline: 1px solid #e0c426;
}



/* * My Leads */
.leyend {
    text-align: center;
    color: var(--sec-text-color);
}

.mini-table-head, .mini-table-row {
    display: flex;
    flex-direction: row;
}

.mini-table-row:hover {
    background: var(--selected-color);
}

.mini-table-head-item {
    text-align: center;
    width: 25%;
    border-bottom: solid;
    border-color: var(--border-card-color);
    border-width: 1.5px;
    padding: 0 0 20px 0;
}

.mini-table-body-item {
    text-align: center;
    width: 25%;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* * SALERS */
.salers-data {
    width: 1080px;
}

.admin {
    width: 300px;
}

.user-principal {
    width: 380px;
}

.user-data {
    width: 1000px;
}

.details {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 90%;
}

.notes-section {
    gap: 10px;
}

.note {
    font-size: 14px;
}

.note-title {
    font-weight: 500;
}