:root {
    --bg-color: #f3f3f3;
    --card-color: #ffffff;
    --card-body-color: #f8f8f8;

    --sec-color: #5cc6d2;
    --sec-color-hover: #54b7b7;

    --border-input-color: #767676;

    --border-card-color: #dddddd;

    --sec-text-color: #B7B7B7;

    --selected-color: #bcbcbc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--bg-color);
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

label {
    margin-bottom: 5px;
}

h1 {
    font-size: 20px;
}

.body {
    display: flex;
}

/** Página de login  */
.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-card {
    background: var(--card-color);
    padding: 15px 50px;
    box-shadow: rgba(0, 0, 0, 0.345) 0px 0px 15px;
}

.input-container, .login-card-title, .btn-login {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.login-card-title {
    text-align: center;
}

/*? Global  */
.email {
    line-break: anywhere;
}

.hidden {
    display: none !important;
}

.input-for-modal {
    background: none;
    border: 1px solid var(--border-input-color);
    outline: 0 none;
    padding: 10px 15px;
    width: 250px;
    resize: none;
}

.input-for-modal:focus {
    outline: 1px solid var(--sec-color);
    border-color:  var(--sec-color);
}

.input {
    background: none;
    border: 1px solid var(--border-input-color);
    outline: 0 none;
    padding: 10px 15px;
    width: 250px;
}

.input:focus {
    outline: 1px solid var(--sec-color);
    border-color:  var(--sec-color);
}

.input-action {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn {
    padding: 10px;
    background: var(--sec-color);
    outline: 0 none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn-cancel {
    background: #767676;
    color: white;
}

.btn-delete {
    background: #cf4141;
    color: white;
}

.btn:hover {
    background: var(--sec-color-hover);
    outline: 1px solid var(--sec-color);
}

.btn-delete:hover {
    background: #b75454;
    outline: 1px solid #cf4141;
}

.btn-cancel:hover {
    background: #a6a6a6;
    outline: 1px solid #767676;
}

.pointer {
    cursor: pointer;
}

.selected {
    color: white;
}

.card {
    background: var(--card-color);
    border: 1px solid var(--border-card-color);
    border-radius: 5px;
    padding: 10px;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background {
    background: rgba(0, 0, 0, 0.300);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.modal-card{
    margin: auto;
    position: absolute;
    z-index: 2;
    margin-bottom: 0 -400px;
}

.modal-actions {
    padding-top: 10px;
}

/** Barra de navegación / menú */
.menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-size: 14px;
    background: var(--card-color);
    height: 100vh;
    position: fixed;
}

.menu-space {
    min-width: 250px;
    height: auto;
}

.menu-header {
    display: flex;
    justify-content: center;
    padding: 25px 15px;
    text-align: center;
}

.menu-nav {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 8px 0 8px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item:hover {
    background: rgb(200, 200, 200);
}

.menu-opt {
    margin-left: 10px;
}

.menu-opt-icon {
    min-width: 25px;
    display: flex;
    justify-content: center;
}

/** HOME:  */
.content {
    width: 100%;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.col {
    flex-direction: column;
    gap: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--card-color);
    border: 1px solid var(--border-card-color);
    font-size: 14px;
}

.table-head, .table-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-head {
    padding: 5px 0;
    font-weight: 500;
}

.table-body {
    background: var(--card-body-color);
}

.table-body:hover {
    background: var(--selected-color);
}

.table-item {
    width: 14.2857%;
    padding: 10px 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.result, .th {
   width: 100%; 
}

table {
    width: 100%;
}

td {
    padding: 15px 0;
}

.result:hover {
    background: var(--selected-color);
}

td, th {
    width: 16.66%;
    text-overflow: ellipsis;
    text-align: center;
}


/* * LEAD */

.principal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: fit-content;
    white-space: initial;
    word-wrap: break-word;
}

.seller {
    width: 300px;
    word-wrap: break-word;
    font-size: 14px;
}

.seller-note {
    margin: 5px 0 0 0;
    white-space: initial;
}

.seller-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: inherit;
}

.cards-content-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.profile-img {
    padding: 10px;
    border-radius: 100%;
    background: rgb(199, 199, 199);
}

.username {
    padding: 10px 0 0 0;
}

.status {
    padding: 10px 0 0 0;
    font-size: 14px;
}

.status-title {
    font-weight: 500;
}

.lead-data {
    width: 100%;
    white-space: initial;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}

.input-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input-form {
    width: 100%;
}

.btn-form {
    font-weight: 500;
}

.card-title {
    color: var(--sec-color);
    font-size: 16px;
}

.card-header {
    padding: 5px 10px 15px 10px;
}

.card-body {
    padding: 15px 10px;
    border-bottom: solid;
    border-top: solid;
    border-color: var(--border-card-color);
    border-width: 1.5px;
}

.card-footer {
    padding: 10px 10px 0 10px;
}

.contacted {
    background: #5cd2a1;
}

.follow {
    background: #e0c426;
}

.follow:hover {
    background: #ac982b;
    outline: 1px solid #e0c426;
}



/* * My Leads */
.leyend {
    text-align: center;
    color: var(--sec-text-color);
}

.mini-table-head, .mini-table-row {
    display: flex;
    flex-direction: row;
}

.mini-table-head {
    font-weight: 500;
}

.mini-table-row {
    text-align: center;
}

.mini-table-row:hover {
    background: var(--selected-color);
}

.mini-table-head-item {
    text-align: center;
    width: 25%;
    border-bottom: solid;
    border-color: var(--border-card-color);
    border-width: 1.5px;
    padding: 0 0 10px 0;
}

.mini-table-body-item {
    width: 25%;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * SELLERS */
.sellers-data {
    width: 100%;
}

.admin {
    width: 300px;
}

.user-principal {
    width: 380px;
}

.user-data {
    width: 100%;
}

.details {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 90%;
}

.notes-section {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.note {
    font-size: 14px;
}

.note-title {
    font-weight: 500;
}

.spawn-menu {
    position: fixed;
    left: -10px;
    bottom: 10px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.302);
    animation: menu 2s ease 2;
    display: none;
    z-index: 1;
    transition: .6s;
}

.black-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.295);
    animation: blackScreen .5s;
}

.section-hide-desktop {
    display: none;
}

.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.search-input {
    padding: 10px;
    border: 1px solid var(--border-input-color);
    outline: 0 none;
    width: 100%;
    height: 40px;

}

@media (max-width: 1700px   ) {
    .principal {
        width: 250px;
    }

    .seller {
        width: 250px;
    }
    
    .section {
        max-width: 1024px;
    }

    .admin {
        width: 250px
    }

    .details {
        flex-direction: column;
    }

    .user-principal {
        width: 250px;
    }
}

@media (max-width: 1300px) {
    .section {
        max-width: none;
        width: 100%
    }

    .tbit-2, .tbit-5 {
        display: none;
    }

    .table-item {
        width: 20%;
    }

    .lead-data {
        width: 100%;
    }

    .cards-content {
        width: inherit;
    }

    .principal, .section-hide-mobile {
        display: none;
    }

    .section-hide-desktop {
        display: initial;
    }

    .cards-content {
        flex-direction: column-reverse;
    }

    .seller {
        width: 100%;
    }

    .fd-col {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .section {
        max-width: none;
        width: 100%
    }

    .menu {
        left: -100%;
        transition: .7s;
        z-index: 2;
    }

    .menu-space {
        display: none;
    }

    .tbit-4, .tbit-3 {
        display: none;
    }

    .table-item {
        width: 33.3333%;
    }

    .menu-animation {
        left: 0;
        transition: .7s;
    }

    .spawn-menu {
        display: initial;
    }

    .move-button {
        left: -100px;
        transition: .7s;
    }

    .mini-table-body-item, .mini-table-head-item {
        width: 33.3333%;
    }

}

/* Adnimaciones */
.modal-animation {
    animation-name: show;
    animation-duration: .8s;
    animation-timing-function: ease-out;
}

.card-animation {
    animation-name: card;
    animation-duration: .6s;
    animation-timing-function: ease-out;
}

@keyframes show {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes card {
    from {
        margin-bottom: 400px;
        opacity: 0;
    }


    to {
        margin-bottom: 0;
        opacity: 100%;
    }

}

@keyframes menu {
    0% {
        transform: translate(0px);
    }
    
    20% {
        transform: translate(10px);
    }

    40% {
        transform: translate(-10px);
    }

    60% {
        transform: translate(10px);
    }

    80% {
        transform: translate(0px);
    }
}

@keyframes blackScreen {
    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, 0.295);
    }
}